<!DOCTYPE html>
<html>
    <head>
        <title>lol!</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/owl.carousel.css" />
        <link type="text/css" rel="stylesheet" href="../css/owl.theme.default.css" />
        <link type="text/css" rel="stylesheet" href="../css/magnific-popup.css" />
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
    <header id="home">
        <div class="bg-img" style="background-image: url('./img/blog-post.jpg');">
            <div class="overlay"></div>
        </div>
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a href="/registration">
                            <img class="logo" src="../img/logo.png" alt="logo">
                            <img class="logo-alt" src="../img/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="/">Welcome!</a></li>
                    <li><a href="/registration">About</a></li>
                    <li><a href="/contact">ContactUS</a></li>
                </ul>
            </div>
        </nav>
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Ugh! Whatever :/</h1>
                            <p class="white-text">
                                Now Scroll down! Will you?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>