<!DOCTYPE html>
<html>
    <head>
        <title>OOPS</title>
         <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="../css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="../css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="../css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../css/style.css" />

    </head>
    <body>
            <!-- Header -->
    <header>
        <!-- Nav -->
        <nav id="nav" class="navbar">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/registration">
                            <img class="logo" src="../img/logo.png" alt="logo">
                            <img class="logo-alt" src="../img/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="/">Welcome!</a></li>
                    <li><a href="/registration">About</a></li>
                    <li><a href="/contact">ContactUS</a></li>
                </ul>
                <!-- /Main navigation -->
            </div>
        </nav>
        <!-- /Nav -->
       </header>

        <center><br>
        <h1 style="color: black; font:bold; font-size: 50px"><b>Oops! You must be SORRY! Right?</b></h1>
        <br><hr><br>
        <div>
            <h3 style="color: black; font-family:Arial Verdana; font-size: 30px">SignIn Again!!</h3>
            <br>
            <a style="color: black; font-size: 40px" href="/registration/signin">Hell yeah! lets go back. Click here.:)</a>
        </div><br><br>
        </center>

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>





    </body>
</html>