<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ABOUT</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />
	<link type="text/css" rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header id="home">
		<div class="bg-img" style="background-image: url('./img/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a href="/registration">
							<img class="logo" src="img/logo.png" alt="logo">
							<img class="logo-alt" src="img/logo-alt.png" alt="logo">
						</a>
					</div>
					<div class="nav-collapse">
						<span></span>
					</div>
				</div>
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/">Welcome!</a></li>
					<li><a href="/registration">About</a></li>
					<li><a href="/contact">ContactUS</a></li>
				</ul>
			</div>
		</nav>
		<div class="home-wrapper">
			<div class="container">
				<div class="row">
				<div class="col-md-6"s>
					<div class="section-body">
						<h2 class="white-text">Why To Be On This Platform</h2>
					</div>
					<p>Its new... bleh bleh bleh</p>
				</div>
				</div>
			</div>
		</div>
	</header>
	<div id="numbers" class="section sm-padding">
		<div class="bg-img" style="background-image: url('./img/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="white-text"><span class="counter">0+</span></h3>
						<span class="white-text">Happy Users</span>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-trophy"></i>
						<h3 class="white-text"><span class="counter">2+</span></h3>
						<span class="white-text">Appreciations</span>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-coffee"></i>
						<h3 class="white-text"><span class="counter">40+</span></h3>
						<span class="white-text">Cups of Coffee</span>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-file"></i>
						<h3 class="white-text"><span class="counter">3+</span></h3>
						<span class="white-text">Projects completed</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="team" class="section md-padding">
		<div class="container">
			<div class="row">
				<div class="section-header text-center">
					<h2 class="title">About WHOM? GUESS!</h2>
				</div>
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="./img/team1.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<p>put your id links here</p>
									<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Amishaa</h3>
							<span>Student::Learner</span>
						</div>
					</div>
				</div>
				<div class="section-header text-center" style="text-align: center;">
					<h3>Currently pursuing my Btech degree. and lots more to come.</h3>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
