<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SIGNUP</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../css/owl.carousel.css" />
        <link type="text/css" rel="stylesheet" href="../css/owl.theme.default.css" />
        <link type="text/css" rel="stylesheet" href="../css/magnific-popup.css" />
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="../js/jquery.magnific-popup.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script>
            $('#myModal').on('hidden.bs.modal');
        </script>
    </head>
    <body>
        <header>
            <nav id="nav" class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="/registration">
                                <img class="logo" src="../img/logo.png" alt="logo">
                                <img class="logo-alt" src="../img/logo-alt.png" alt="logo">
                            </a>
                        </div>        
                        <div class="nav-collapse">
                            <span></span>
                        </div>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li><a href="/">Welcome!</a></li>
                        <li><a href="/registration">About</a></li>
                        <li><a href="/contact">ContactUS</a></li>
                    </ul>
                </div>
            </nav>
        </header>
	    <div class="section md-padding">
		    <div class="container">
			    <div class="row">
				    <div class="section-header text-center">
					    <h2 class="title">SignUp</h2>
				    <div>
                    <form method="post" enctype="multipart/form-data" action="/registration/signup">
                    <div>
                        <p>*Fill all the fields</p>
                        <label>Upload your profile pic</label><br>
                        <input type="file" name="avatar" required>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Name</label><br>
                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Username</label><br>
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Email</label><br>
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                    <br><br>
                    <div>
                        <label>DateOfBirth</label><br>
                        <input type="date" name="dob" required>
                    </div>
                    <br><br>
                    <div>
                        <label>Gender</label><br>
                        <select name="gender">
                            <option value="male">Male</option>
                            <option value="Female">Female</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <br><br>
                    <div>
                        <label>Add your Bio</label><br>
                        <textarea rows="4" cols="30" class="input" placeholder="Write about yourself.." name="bio" autofocus required></textarea>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Contact</label><br>
                        <input type="contact" class="form-control" placeholder="Contact" name="contact" required>
                    </div><br><br>
                    <div class="form-group">
                        <label>Password</label><br>
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Confirm Password</label><br>
                        <input type="password" class="form-control" placeholder="Password" name="password2" required>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-default"><b>Submit</b></button>
                    <br>
                    <a href="/registration/signin">If already signed up, then click here to signIN</a>
                </form>        
                </div>
            </div>
		</div>
	</div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SignUp</h4>
                </div>
                <div class="modal-body">
                    <div id="signup">
                    <form method="post" enctype="multipart/form-data" action="/registration/signup">
                    <div>
                        <p>*Fill all the fields</p>
                        <label>Upload your profile pic</label><br>
                        <input type="file" name="avatar"/>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Name</label><br>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Username</label><br>
                        <input type="text" class="form-control" placeholder="Username" name="username">
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Email</label><br>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <br><br>
                    <div>
                        <label>DateOfBirth</label><br>
                        <input type="date" name="dob">
                    </div>
                    <br><br>
                    <div>
                        <label>Gender</label><br>
                        <select name="gender">
                            <option value="male">Male</option>
                            <option value="Female">Female</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <br><br>
                    <div>
                        <label>Add your Bio</label><br>
                        <textarea rows="4" cols="30" class="input" placeholder="Write about yourself.." name="bio" autofocus></textarea>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Contact</label><br>
                        <input type="contact" class="form-control" placeholder="Contact" name="contact">
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Password</label><br>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div><br>
                    <div class="form-group">
                        <label>Confirm Password</label><br>
                        <input type="password" class="form-control" placeholder="Password" name="password2">
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-default"><b>Submit</b></button>
                </form><br>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
</body>
</html>