<!DOCTYPE html>
<html lang="en">
<head>
	<title>SIGNIN</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="../css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="../css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="../css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <script>

        $('#myModal').on('hidden.bs.modal');
    </script>
</head>

<body>
        <header>
                <!-- Nav -->
                <nav id="nav" class="navbar">
                    <div class="container">
        
                        <div class="navbar-header">
                            <!-- Logo -->
                            <div class="navbar-brand">
                                <a href="/registration">
                                    <img class="logo" src="../img/logo.png" alt="logo">
                                    <img class="logo-alt" src="../img/logo-alt.png" alt="logo">
                                </a>
                            </div>
                            <!-- /Logo -->
        
                            <!-- Collapse nav button -->
                            <div class="nav-collapse">
                                <span></span>
                            </div>
                            <!-- /Collapse nav button -->
                        </div>
        
                        <!--  Main navigation  -->
                        <ul class="main-nav nav navbar-nav navbar-right">
                            <li><a href="/">Welcome!</a></li>
                            <li><a href="/registration">About</a></li>
                            <li><a href="/contact">ContactUS</a></li>
                        </ul>
                        <!-- /Main navigation -->
                    </div>
                </nav>
                <!-- /Nav -->
               </header>
        
	<div class="section md-padding">
		<div class="container">
			<div class="row">

				<div class="section-header text-center">
					<h2 class="title">SignIn</h2>
				</div>
				<div>
					<form class="contact-form" method="post" action="/registration/signin">
						<div>
							<label for="username">Username</label>
							<input type="text" name="username" class="input" placeholder="Username">
						</div><br>
						<div>
							<label for="password">Password</label>
						<input type="password" class="input" name="password" placeholder="Password">
						</div><br><br>
						<button><b>SignIn</b></button>
					</form>
					<br><br><hr>
					<div>
						<h3>Forgot your password? Eat some Almonds buddy! Now shoooo...</h3>
						<button><a href="/registration/forgot">HELPME</a></button>
					</div><br><hr>
					<div>
						<h3>If not Signed Up, then</h3><br>
                        <button type="button" class="comm" data-toggle="modal" data-target="#myModal">SignUP</button>					</div>
				</div>
			</div>
		</div>
	</div>



     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SignUp</h4>
        </div>
        <div class="modal-body">
            <div id="signup">
        <form method="post" enctype="multipart/form-data" action="/registration/signup">
            <div>
                <p>*Fill all the fields</p>
                <label>Upload your profile pic</label><br>
                <input type="file" name="avatar"/>
            </div><br><br>
            <div class="form-group">
                <label>Name</label><br>
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div><br><br>
            <div class="form-group">
                <label>Username</label><br>
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div><br><br>
            <div class="form-group">
                <label>Email</label><br>
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div><br><br>
            <div>
                <label>DateOfBirth</label><br>
                <input type="date" name="dob">
            </div><br><br>
            <div>
                <label>Gender</label><br>
                <select name="gender">
                    <option value="male">Male</option>
                    <option value="Female">Female</option>
                    <option value="others">Others</option>
                </select>
            </div><br><br>
            <div>
                <label>Add your Bio</label><br>
                <textarea rows="4" cols="30" class="input" placeholder="Write about yourself.." name="bio" autofocus></textarea>
            </div><br><br>
            <div class="form-group">
                <label>Contact</label><br>
                <input type="contact" class="form-control" placeholder="Contact" name="contact">
            </div><br><br>
            <div class="form-group">
                <label>Password</label><br>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div><br>
            <div class="form-group">
                <label>Confirm Password</label><br>
                <input type="password" class="form-control" placeholder="Password" name="password2">
            </div><br><br>
            <button type="submit" class="btn btn-default"><b>Submit</b></button>
        </form><br>                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

</body>

</html>